# This notebook for creating all the dependencies for the airline data we have scraped so far.

## Delta airline

In [1]:
from absa_model import CSV_Dataset
import pandas as pd

delta_comments = pd.read_csv('../data/combined_cleaned_delta_comments.csv')
print(f"comments shape: {delta_comments.shape}")
delta_posts = pd.read_csv('../data/combined_cleaned_delta_posts.csv')
print(f"posts shape: {delta_posts.shape}")
delta_posts['content'] = delta_posts['content'] + delta_posts['title']
delta_df = pd.concat([delta_comments[['content']], delta_posts[['content']]], ignore_index=True)
delta_df.shape

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kengb\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

comments shape: (43260, 7)
posts shape: (1547, 8)

(44807, 1)

In [2]:
delta_df.drop_duplicates(subset="content").shape

(44010, 1)

In [3]:
delta_df = delta_df.drop_duplicates(subset="content")
delta = CSV_Dataset(delta_df, dataset_name='delta_airlines')

Parsing csv objects
Parsed csv objects of size (41679, 1)
Preparing dataset for ABSA...
Preparing vectorizer...
Vectorizer saved as delta_airlines_vectorizer.pkl
Preparing LDA model...
LDA model saved as delta_airlines_lda_model.pkl
Topic dictionary saved as delta_airlines_topic_dict.pkl
Preparing VADER model...
VADER model saved as delta_airlines_vader_model.pkl
Dataset prepared for ABSA
Performing ABSA...
Extracting aspects...
Extracting aspects
Getting sentiment...
ABSA completed

In [4]:
delta.data

,content,topic,sentiment
0,separ rest famili dl want pay sit togeth inste...,"""Travel Experience with Delta""",-0.4019
1,see side employe frustrat get famili board giv...,"""Travel Experience with Delta""",-0.5213
2,id sue donat whatev didnt need daughter therap...,"""Upgrade Experience""",-0.9022
3,delta fault parent given right pick seat https...,"""Airline Seating Experience""",-0.4019
4,man fault assault victim hope ban fli proceed ...,"""Upgrade Experience""",-0.9201
...,...,...,...
41674,minut goe delta could final loos stranglehold ...,"""Airline Seating Experience""",0.4588
41675,anyon fisherman stew new fisherman stew,"""Travel Experience with Delta""",0.0000
41676,fli im get delay am hr layov shower crown loun...,"""Travel Experience""",0.6808
41677,anyon delta one tumi discount code use tumi cr...,"""Upgrade Experience""",0.6369
41678,youv travel lot know import carryon serv immed...,"""Upgrade Experience""",0.9628

## Frontier Airlines

In [5]:
frontier_comments = pd.read_csv('../data/frontierairlines_selenium_comments.csv')
print(f"comments shape: {frontier_comments.shape}")
frontier_posts = pd.read_csv('../data/frontierairlines_selenium_posts.csv')
print(f"posts shape: {frontier_posts.shape}")
frontier_posts['content'] = frontier_posts['content'] + frontier_posts['title']
frontier_df = pd.concat([frontier_comments[['content']], frontier_posts[['content']]], ignore_index=True)
frontier_df.shape

comments shape: (10445, 7)
posts shape: (232, 8)

(10677, 1)

In [6]:
frontier_df = frontier_df.drop_duplicates(subset="content")
frontier = CSV_Dataset(frontier_df, dataset_name='frontier_airlines')

Parsing csv objects
Parsed csv objects of size (10084, 1)
Preparing dataset for ABSA...
Preparing vectorizer...
Vectorizer saved as frontier_airlines_vectorizer.pkl
Preparing LDA model...
LDA model saved as frontier_airlines_lda_model.pkl
Topic dictionary saved as frontier_airlines_topic_dict.pkl
Preparing VADER model...
VADER model saved as frontier_airlines_vader_model.pkl
Dataset prepared for ABSA
Performing ABSA...
Extracting aspects...
Extracting aspects
Getting sentiment...
ABSA completed

In [7]:
frontier.data

,content,topic,sentiment
0,seem remark calm,"""Travel Turmoil""",0.3182
1,ultim got need go suck airport much suck deal ...,"""Flight Experience Insights""",-0.2500
2,unaccept airlin,"""Flight Experience Insights""",0.0000
3,yet peopl still defend fli frontier,"""Travel Experience""",0.0000
4,actual file formal complaint better busi burea...,"""Travel Turmoil""",0.2010
...,...,...,...
10079,dont fli first flight paid middl window seat s...,"""Flight Experience""",0.3612
10080,anyon dealt frontier lose bag nonstop flight l...,"""Travel Turmoil""",-0.9337
10081,fli home orlando easter sunday flight super ea...,"""Flight Experience""",-0.3818
10082,tldr frontier attend lie face amp stole power ...,"""Travel Turmoil""",-0.9186
10083,flight philadelphia right plane readi leav gat...,"""Travel Turmoil""",0.4767

## Hawaiian Airlines

In [8]:
hawaiian_comments = pd.read_csv('../data/HawaiianAirlines_selenium_comments.csv')
print(f"comments shape: {hawaiian_comments.shape}")
hawaiian_posts = pd.read_csv('../data/HawaiianAirlines_selenium_posts.csv')
print(f"posts shape: {hawaiian_posts.shape}")
hawaiian_posts['content'] = hawaiian_posts['content'] + hawaiian_posts['title']
hawaiian_df = pd.concat([hawaiian_comments[['content']], hawaiian_posts[['content']]], ignore_index=True)
hawaiian_df.shape

comments shape: (1523, 7)
posts shape: (198, 8)

(1721, 1)

In [9]:
hawaiian_df = hawaiian_df.drop_duplicates(subset="content")
hawaii = CSV_Dataset(hawaiian_df, dataset_name='frontier_airlines')

Parsing csv objects
Parsed csv objects of size (1620, 1)
Preparing dataset for ABSA...
Preparing vectorizer...
Vectorizer saved as frontier_airlines_vectorizer.pkl
Preparing LDA model...
LDA model saved as frontier_airlines_lda_model.pkl
Topic dictionary saved as frontier_airlines_topic_dict.pkl
Preparing VADER model...
VADER model saved as frontier_airlines_vader_model.pkl
Dataset prepared for ABSA
Performing ABSA...
Extracting aspects...
Extracting aspects
Getting sentiment...
ABSA completed

In [10]:
hawaii.data

,content,topic,sentiment
0,yeah look one,"Topic: ""Aloha Travel Experience""",0.2960
1,clariti referr code fa write credit card appli...,"""Flight Experience Enhancement""",0.7003
2,get code,"""Travel Essentials Experience""",0.0000
3,hope code well thank advanc,"""Upgrade Odyssey""",0.7579
4,could dm plz,"""Flight Experience Enhancement""",0.0772
...,...,...,...
1615,hello fli hnl san stop maui next wednesday ret...,"""Upgrade Experience""",-0.3400
1616,hey anyon jfkhnl late wonder wifi avail thanks...,"""Travel Essentials Experience""",0.0000
1617,seatgurucom doesnt ha yet advic row avoid look...,"""Travel Essentials Experience""",-0.4471
1618,flight tokyo almost hour layov hnl fli ny id l...,"""Upgrade Experience""",0.3818
1619,may took flight kiosk print bag tag line guest...,"""Flight Experience Enhancement""",0.4215